<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
	<display-name>Sample Payment Plugin</display-name>
	<context-param>
		<description>The base URL of the EKP installation.</description>
		<param-name>ekpBase</param-name>
		<param-value>/ekp/</param-value>
	</context-param>
	<context-param>
		<description>The key used to generate message authentication codes for
			receipts.</description>
		<param-name>key</param-name>
		<param-value>69e1a88a50a164ae13874db0affbf2ef</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>