<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Sample Payment Plugin</display-name>
	<listener>
		<listener-class>com.netdimensions.servlet.CsrfTokenSessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>PaymentHandlerServlet</servlet-name>
		<servlet-class>com.netdimensions.servlet.PaymentHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentHandlerServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentHandlerServlet</servlet-name>
		<url-pattern>/p/*</url-pattern>
	</servlet-mapping>
</web-app>